<div class="nested_comment <%= comment.id %>">
  <span class="user"><%=link_to comment.user.name, comment.user %>: </span>
  <span class="content"><i><%=comment.body.capitalize %></i></span><br />
  <span class="timestamp">Posted: <%= comment.created_at %> ago.</span> <br />
  <% if comment.user == current_user %>
    <a href='#' onclick='editComment(<%= comment.id %>)'>Edit</a>
    <a href='#' onclick='deleteComment(<%= comment.id %>)'>Delete</a>
  <% end %>
    <a href='#' onclick='showForm(<%= comment.id %>)'>Reply</a>
    <br/><hr >
  <div class="comment_form">
    <div class='<%= hide_form_for(comment)%>'>
      <%= render partial: 'comments/form', locals: {
        resource: comment, comment: Comment.new
        } %>
    </div>
  </div>
  <div class="edit-form"></div>
  <% if comment.comments.any? %>
    <%= render comment.comments %>
  <% end %>
</div>
