<div class="row center">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <div class="title">
        <h3><%= @post.title %></h3>
      </div>
      <div class="description">
        <p><%= @post.description %></p>
      </div>
      <div class="post-actions">
        <% if (user_signed_in? && @post.user == current_user)  %>
          <%= link_to "Edit post", edit_post_path(@post),
                                   class: "btn btn-xs btn-success" %>
          <%= link_to "Delete post", post_path(@post),
                                     method: :delete,
                                     data: {confirm: "Are you sure?"},
                                     class: "btn btn-xs btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="comment_form">
    <%= render partial: 'comments/form', locals: {
      resource: @post, comment: Comment.new
      } %>
  </div>
  <h3>Comments</h3>
  <%= render @post.comments %>
</div>
